My work in progress here, it doesnt work currently...
/* 	head {
		background-color: #c0c0c0;
	}
	body {
		background-color: #c0c0c0;
	}
	form {
		background-color: #9aabb4;
	}
	a {
		color: #b9b5ca;
	}
	h2 {
		font-family: Helvetica;
		color: #6a6a6a;
	}
	h3 {
		font-family: Helvetica;
	}
	hr {
		margin-top: 20px;
		margin-bottom: 20px	;
		width: 100%;
		color: white;
	}
	div {
		background-color: #aec4ac;
		padding-top: 15px;
		padding-bottom: 15px
	}
	tr, td, th {
		font-family: Helvetica;
		color: white;
	}
	td {
		padding-bottom: 20px;
	}
	 */